{
    "swagger": "2.0",
    "info": {
      "title": "apaleo Inventory API",
      "description": "",
      "version": "v1"
    },
    "host": "api.apaleo.com",
    "paths": {
      "/inventory/v1/properties": {
        "get": {
          "tags": [
            "Property"
          ],
          "summary": "Get a properties list",
          "description": "Get the list of properties.<br>You need to be authorized (no particular scope required)",
          "operationId": "InventoryPropertiesGet",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "status",
              "description": "Filter result by property status",
              "type": "array",
              "items": {
                "enum": [
                  "Test",
                  "Live"
                ],
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "includeArchived",
              "description": "Include archived properties in the result. If not set, or set to false, it only returns non-archived properties",
              "type": "boolean"
            },
            {
              "in": "query",
              "name": "countryCode",
              "description": "Filter result by country code",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "pageNumber",
              "description": "Page number, starting from 1 and defaulting to 1. Results in 204 if there are no items on that page.",
              "type": "integer",
              "default": 1
            },
            {
              "in": "query",
              "name": "pageSize",
              "description": "Page size. If this is not set, the pageNumber will be ignored and all values returned.",
              "type": "integer",
              "default": 100
            },
            {
              "in": "query",
              "name": "expand",
              "description": "List of all embedded resources that should be expanded in the response. Possible values are: actions. All other values will be silently ignored.",
              "type": "array",
              "items": {
                "enum": [
                  "actions"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Return all properties.",
              "schema": {
                "$ref": "#/definitions/PropertyListModel"
              }
            },
            "204": {
              "description": "There are no properties found."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                
              ]
            }
          ]
        },
        "post": {
          "tags": [
            "Property"
          ],
          "summary": "Creates a property",
          "description": "Use this call to create a new property.<br>You must have at least one of these scopes: 'properties.create, setup.manage'.",
          "operationId": "InventoryPropertiesPost",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "header",
              "name": "Idempotency-Key",
              "description": "Unique key for safely retrying requests without accidentally performing the same operation twice. \nWe'll always send back the same response for requests made with the same key, \nand keys can't be reused with different request parameters. Keys expire after 24 hours.",
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "The definition of the property.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreatePropertyModel"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "Creation of the new property was successful.",
              "schema": {
                "$ref": "#/definitions/PropertyCreatedModel"
              },
              "headers": {
                "Location": {
                  "description": "The location of the created resource.",
                  "type": "string"
                }
              }
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "properties.create",
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/inventory/v1/properties/$count": {
        "get": {
          "tags": [
            "Property"
          ],
          "summary": "Return total count of properties",
          "description": "Return total count of properties<br>You need to be authorized (no particular scope required)",
          "operationId": "InventoryProperties$countGet",
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/CountModel"
              }
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                
              ]
            }
          ]
        }
      },
      "/inventory/v1/properties/{id}": {
        "head": {
          "tags": [
            "Property"
          ],
          "summary": "Check if a property exists",
          "description": "Check if a property exists by id.<br>You need to be authorized (no particular scope required)",
          "operationId": "InventoryPropertiesByIdHead",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the property.",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "The property exists."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                
              ]
            }
          ]
        },
        "get": {
          "tags": [
            "Property"
          ],
          "summary": "Get a property",
          "description": "Get a property by id.<br>You need to be authorized (no particular scope required)",
          "operationId": "InventoryPropertiesByIdGet",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the property.",
              "required": true,
              "type": "string"
            },
            {
              "in": "query",
              "name": "languages",
              "description": "'all' or comma separated list of two-letter language codes (ISO Alpha-2)",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "expand",
              "description": "List of all embedded resources that should be expanded in the response. Possible values are: actions. All other values will be silently ignored.",
              "type": "array",
              "items": {
                "enum": [
                  "actions"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Return all the property data.",
              "schema": {
                "$ref": "#/definitions/PropertyModel"
              }
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                
              ]
            }
          ]
        },
        "patch": {
          "tags": [
            "Property"
          ],
          "summary": "Allows to modify property",
          "description": "Here's a list of allowed operations:\r\n- Replace Name\r\n- Add, replace and remove Description\r\n- Replace CompanyName\r\n- Add, replace and remove ManagingDirectors\r\n- Replace CommercialRegisterEntry\r\n- Replace TaxId\r\n- Replace Location\r\n- Add, replace and remove BankAccount\r\n- Replace PaymentTerms\r\n- Set IsTemplate<br>You must have at least one of these scopes: 'properties.manage, setup.manage'.",
          "operationId": "InventoryPropertiesByIdPatch",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the property.",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Define the list of operations to be applied to the resource. Learn more about JSON Patch here: http://jsonpatch.com/.",
              "required": true,
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Operation"
                }
              }
            }
          ],
          "responses": {
            "204": {
              "description": "Success"
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "properties.manage",
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/inventory/v1/types/countries": {
        "get": {
          "tags": [
            "Types"
          ],
          "summary": "Returns a list of supported countries.",
          "description": "Returns a list of ISO country codes that could be used to create properties.<br>You need to be authorized (no particular scope required)",
          "operationId": "InventoryTypesCountriesGet",
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "Success.",
              "schema": {
                "$ref": "#/definitions/CountryListModel"
              }
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                
              ]
            }
          ]
        }
      },
      "/inventory/v1/units/{id}": {
        "patch": {
          "tags": [
            "Unit"
          ],
          "summary": "Allows to patch unit",
          "description": "Here's a list of allowed operations:\r\n- Set unit condition\r\n- Set unit description\r\n- Set unit name\r\n- Set unit unitGroupId\r\n- Set unit maxPersons\r\n- Add unit attribute\r\n- Remove unit attribute<br>You must have at least one of these scopes: 'units.manage, setup.manage'.",
          "operationId": "InventoryUnitsByIdPatch",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the unit.",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Define the list of operations to be applied to the resource. Learn more about JSON Patch here: http://jsonpatch.com/.",
              "required": true,
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Operation"
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            },
            "204": {
              "description": "The unit was successfully modified."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "units.manage",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "get": {
          "tags": [
            "Unit"
          ],
          "summary": "Get a unit",
          "description": "Get a unit by id.<br>You must have at least one of these scopes: 'units.read, setup.read, setup.manage'.",
          "operationId": "InventoryUnitsByIdGet",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the unit.",
              "required": true,
              "type": "string"
            },
            {
              "in": "query",
              "name": "languages",
              "description": "'all' or comma separated list of two-letter language codes (ISO Alpha-2)",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "expand",
              "description": "List of all embedded resources that should be expanded in the response. Possible values are: property, unitGroup. All other values will be silently ignored.",
              "type": "array",
              "items": {
                "enum": [
                  "property",
                  "unitGroup"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Return all the unit data.",
              "schema": {
                "$ref": "#/definitions/UnitModel"
              }
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "units.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "head": {
          "tags": [
            "Unit"
          ],
          "summary": "Check if a unit exists",
          "description": "Check if a unit exists by id.<br>You must have at least one of these scopes: 'units.read, setup.read, setup.manage'.",
          "operationId": "InventoryUnitsByIdHead",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the unit.",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "The unit exists."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "units.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "delete": {
          "tags": [
            "Unit"
          ],
          "summary": "Delete a unit",
          "description": "Use this call to delete a unit.<br>You must have at least one of these scopes: 'units.delete, setup.manage'.",
          "operationId": "InventoryUnitsByIdDelete",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the unit.",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "204": {
              "description": "Deletion of the unit was successful."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "units.delete",
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/inventory/v1/units": {
        "patch": {
          "tags": [
            "Unit"
          ],
          "summary": "Allows to patch one or more units",
          "description": "Here's a list of allowed operations:\r\n- Set unit condition\r\n- Set unit description\r\n- Set unit name\r\n- Set unit unitGroupId\r\n- Set unit maxPersons\r\n- Add unit attribute\r\n- Remove unit attribute<br>You must have at least one of these scopes: 'units.manage, setup.manage'.",
          "operationId": "InventoryUnitsPatch",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "unitIds",
              "required": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            {
              "in": "body",
              "name": "body",
              "description": "Define the list of operations to be applied to the resource. Learn more about JSON Patch here: http://jsonpatch.com/.",
              "required": true,
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Operation"
                }
              }
            }
          ],
          "responses": {
            "204": {
              "description": "Units were successfully modified."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "units.manage",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "get": {
          "tags": [
            "Unit"
          ],
          "summary": "Get a units list",
          "description": "Get the list of units.<br>You must have at least one of these scopes: 'units.read, setup.read, setup.manage'.",
          "operationId": "InventoryUnitsGet",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "propertyId",
              "description": "Return units for specific property",
              "type": "string"
            },
            {
              "in": "query",
              "name": "unitGroupId",
              "description": "Return units for the specific unit group - <b>DEPRECATED: This property will be removed 20.04.2022. Use `UnitGroupIds` instead</b>",
              "type": "string"
            },
            {
              "in": "query",
              "name": "unitGroupIds",
              "description": "Return units with the specific unit groups",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "unitAttributeIds",
              "description": "Return units with the specific unit attributes",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "isOccupied",
              "description": "Return only occupied or vacant units",
              "type": "boolean"
            },
            {
              "in": "query",
              "name": "maintenanceType",
              "description": "Return units with the specific maintenance type",
              "type": "string",
              "enum": [
                "OutOfService",
                "OutOfOrder",
                "OutOfInventory"
              ]
            },
            {
              "in": "query",
              "name": "condition",
              "description": "Return units with a specific condition",
              "type": "string",
              "enum": [
                "Clean",
                "CleanToBeInspected",
                "Dirty"
              ]
            },
            {
              "in": "query",
              "name": "textSearch",
              "description": "This will filter all units where the provided text is contained in the unit name. The search is case insensitive.",
              "type": "string"
            },
            {
              "in": "query",
              "name": "pageNumber",
              "description": "Page number, starting from 1 and defaulting to 1. Results in 204 if there are no items on that page.",
              "type": "integer",
              "default": 1
            },
            {
              "in": "query",
              "name": "pageSize",
              "description": "Page size. If this is not set, the pageNumber will be ignored and all values returned.",
              "type": "integer",
              "default": 100
            },
            {
              "in": "query",
              "name": "expand",
              "description": "List of all embedded resources that should be expanded in the response. Possible values are: property, unitGroup. All other values will be silently ignored.",
              "type": "array",
              "items": {
                "enum": [
                  "property",
                  "unitGroup"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Return all units.",
              "schema": {
                "$ref": "#/definitions/UnitListModel"
              }
            },
            "204": {
              "description": "No units were found."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "units.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "post": {
          "tags": [
            "Unit"
          ],
          "summary": "Create a unit",
          "description": "Use this call to create a new unit.<br>You must have at least one of these scopes: 'units.create, setup.manage'.",
          "operationId": "InventoryUnitsPost",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "header",
              "name": "Idempotency-Key",
              "description": "Unique key for safely retrying requests without accidentally performing the same operation twice. \nWe'll always send back the same response for requests made with the same key, \nand keys can't be reused with different request parameters. Keys expire after 24 hours.",
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "The definition of the unit.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreateUnitModel"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "Creation of the new unit was successful.",
              "schema": {
                "$ref": "#/definitions/UnitCreatedModel"
              },
              "headers": {
                "Location": {
                  "description": "The location of the created resource.",
                  "type": "string"
                }
              }
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "units.create",
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/inventory/v1/units/$count": {
        "get": {
          "tags": [
            "Unit"
          ],
          "summary": "Returns number of units",
          "description": "Returns number of units matching the filter criteria<br>You must have at least one of these scopes: 'units.read, setup.read, setup.manage'.",
          "operationId": "InventoryUnits$countGet",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "propertyId",
              "description": "Return units for specific property",
              "type": "string"
            },
            {
              "in": "query",
              "name": "unitGroupId",
              "description": "Return units for the specific unit group - <b>DEPRECATED: This property will be removed 20.04.2022. Use `UnitGroupIds` instead</b>",
              "type": "string"
            },
            {
              "in": "query",
              "name": "unitGroupIds",
              "description": "Return units with the specific unit groups",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "unitAttributeIds",
              "description": "Return units with the specific unit attributes",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "isOccupied",
              "description": "Return only occupied or vacant units",
              "type": "boolean"
            },
            {
              "in": "query",
              "name": "maintenanceType",
              "description": "Return units with the specific maintenance type",
              "type": "string",
              "enum": [
                "OutOfService",
                "OutOfOrder",
                "OutOfInventory"
              ]
            },
            {
              "in": "query",
              "name": "condition",
              "description": "Return units with a specific condition",
              "type": "string",
              "enum": [
                "Clean",
                "CleanToBeInspected",
                "Dirty"
              ]
            },
            {
              "in": "query",
              "name": "textSearch",
              "description": "This will filter all units where the provided text is contained in the unit name. The search is case insensitive.",
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/CountModel"
              }
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "units.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/inventory/v1/units/bulk": {
        "post": {
          "tags": [
            "Unit"
          ],
          "summary": "Create multiple units",
          "description": "Use this call to create multiple units, following a naming rule.<br>You must have at least one of these scopes: 'units.create, setup.manage'.",
          "operationId": "InventoryUnitsBulkPost",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "header",
              "name": "Idempotency-Key",
              "description": "Unique key for safely retrying requests without accidentally performing the same operation twice. \nWe'll always send back the same response for requests made with the same key, \nand keys can't be reused with different request parameters. Keys expire after 24 hours.",
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "The definition of the units.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/BulkCreateUnitsModel"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success.",
              "schema": {
                "$ref": "#/definitions/BulkUnitsCreatedModel"
              }
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "units.create",
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/inventory/v1/unit-attributes/{id}": {
        "get": {
          "tags": [
            "UnitAttribute"
          ],
          "summary": "Get unit attribute by id",
          "description": "Get unit attribute by id<br>You must have at least one of these scopes: 'unitattributes.read, setup.read, setup.manage'.",
          "operationId": "InventoryUnit-attributesByIdGet",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the unit attribute",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "Returns unit attribute with specified id",
              "schema": {
                "$ref": "#/definitions/UnitAttributeDefinitionModel"
              }
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "unitattributes.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "patch": {
          "tags": [
            "UnitAttribute"
          ],
          "summary": "Allows to modify unit attribute",
          "description": "Here's a list of allowed operations:\r\n- Replace / Remove Description<br>You must have at least one of these scopes: 'unitattributes.manage, setup.manage'.",
          "operationId": "InventoryUnit-attributesByIdPatch",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "Id of unit attribute",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Define the list of operations to be applied to the resource. Learn more about JSON Patch here: http://jsonpatch.com/.",
              "required": true,
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Operation"
                }
              }
            }
          ],
          "responses": {
            "204": {
              "description": "Success"
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "unitattributes.manage",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "delete": {
          "tags": [
            "UnitAttribute"
          ],
          "summary": "Deletes unit attribute",
          "description": "Deletes unit attribute<br>You must have at least one of these scopes: 'unitattributes.delete, setup.manage'.",
          "operationId": "InventoryUnit-attributesByIdDelete",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "Id of unit attribute",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "unitattributes.delete",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "head": {
          "tags": [
            "UnitAttribute"
          ],
          "summary": "Check if a unit attribute exists",
          "description": "Check if a unit attribute exists<br>You must have at least one of these scopes: 'unitattributes.read, setup.read, setup.manage'.",
          "operationId": "InventoryUnit-attributesByIdHead",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the unit attribute.",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "The unit attribute exists."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "unitattributes.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/inventory/v1/unit-attributes": {
        "get": {
          "tags": [
            "UnitAttribute"
          ],
          "summary": "Get unit attribute list",
          "description": "Get unit attribute list<br>You must have at least one of these scopes: 'unitattributes.read, setup.read, setup.manage'.",
          "operationId": "InventoryUnit-attributesGet",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "pageNumber",
              "description": "Page number, starting from 1 and defaulting to 1. Results in 204 if there are no items on that page.",
              "type": "integer",
              "default": 1
            },
            {
              "in": "query",
              "name": "pageSize",
              "description": "Page size. If this is not set, the pageNumber will be ignored and all values returned.",
              "type": "integer",
              "default": 100
            }
          ],
          "responses": {
            "200": {
              "description": "Returns unit attribute list for given account",
              "schema": {
                "$ref": "#/definitions/UnitAttributeDefinitionListModel"
              }
            },
            "204": {
              "description": "No unit attributes present for given account"
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "unitattributes.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "post": {
          "tags": [
            "UnitAttribute"
          ],
          "summary": "Create a unit attribute",
          "description": "Use this call to create a new unit attribute.<br>You must have at least one of these scopes: 'unitattributes.create, setup.manage'.",
          "operationId": "InventoryUnit-attributesPost",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "header",
              "name": "Idempotency-Key",
              "description": "Unique key for safely retrying requests without accidentally performing the same operation twice. \nWe'll always send back the same response for requests made with the same key, \nand keys can't be reused with different request parameters. Keys expire after 24 hours.",
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "The unit attribute.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreateUnitAttributeDefinitionModel"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "Creation of the new unit attribute was successful.",
              "schema": {
                "$ref": "#/definitions/UnitAttributeDefinitionCreatedModel"
              },
              "headers": {
                "Location": {
                  "description": "The location of the created resource.",
                  "type": "string"
                }
              }
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "unitattributes.create",
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/inventory/v1/unit-groups": {
        "post": {
          "tags": [
            "UnitGroup"
          ],
          "summary": "Create a unit group",
          "description": "Use this call to create a new unit group.<br>You must have at least one of these scopes: 'unitgroups.create, setup.manage'.",
          "operationId": "InventoryUnit-groupsPost",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "header",
              "name": "Idempotency-Key",
              "description": "Unique key for safely retrying requests without accidentally performing the same operation twice. \nWe'll always send back the same response for requests made with the same key, \nand keys can't be reused with different request parameters. Keys expire after 24 hours.",
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "The definition of the unit group.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreateUnitGroupModel"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "Creation of the new unit group was successful.",
              "schema": {
                "$ref": "#/definitions/UnitGroupCreatedModel"
              },
              "headers": {
                "Location": {
                  "description": "The location of the created resource.",
                  "type": "string"
                }
              }
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "unitgroups.create",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "get": {
          "tags": [
            "UnitGroup"
          ],
          "summary": "Get all unit groups, or all unit groups for a property",
          "description": "Get the list of unit groups.<br>You must have at least one of these scopes: 'unitgroups.read, setup.read, setup.manage'.",
          "operationId": "InventoryUnit-groupsGet",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "propertyId",
              "description": "Return unit groups for specific property",
              "type": "string"
            },
            {
              "in": "query",
              "name": "pageNumber",
              "description": "Page number, starting from 1 and defaulting to 1. Results in 204 if there are no items on that page.",
              "type": "integer",
              "default": 1
            },
            {
              "in": "query",
              "name": "pageSize",
              "description": "Page size. If this is not set, the pageNumber will be ignored and all values returned.",
              "type": "integer",
              "default": 100
            },
            {
              "in": "query",
              "name": "expand",
              "description": "List of all embedded resources that should be expanded in the response. Possible values are: property. All other values will be silently ignored.",
              "type": "array",
              "items": {
                "enum": [
                  "property"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Return all unit groups.",
              "schema": {
                "$ref": "#/definitions/UnitGroupListModel"
              }
            },
            "204": {
              "description": "There are no unit groups found."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "unitgroups.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/inventory/v1/unit-groups/$count": {
        "get": {
          "tags": [
            "UnitGroup"
          ],
          "summary": "Returns number of unit groups",
          "description": "Returns number of unit groups matching the filter criteria<br>You must have at least one of these scopes: 'unitgroups.read, setup.read, setup.manage'.",
          "operationId": "InventoryUnit-groups$countGet",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "propertyId",
              "description": "Return unit groups for specific property",
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/CountModel"
              }
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "unitgroups.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/inventory/v1/unit-groups/{id}": {
        "head": {
          "tags": [
            "UnitGroup"
          ],
          "summary": "Check if a unit group exists",
          "description": "Check if a unit group exists by id.<br>You must have at least one of these scopes: 'unitgroups.read, setup.read, setup.manage'.",
          "operationId": "InventoryUnit-groupsByIdHead",
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the unit group.",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "The unit group exists."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "unitgroups.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "get": {
          "tags": [
            "UnitGroup"
          ],
          "summary": "Get a unit group",
          "description": "Get a unit group by id.<br>You must have at least one of these scopes: 'unitgroups.read, setup.read, setup.manage'.",
          "operationId": "InventoryUnit-groupsByIdGet",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the unit group.",
              "required": true,
              "type": "string"
            },
            {
              "in": "query",
              "name": "languages",
              "description": "'all' or comma separated list of two-letter language codes (ISO Alpha-2)",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            {
              "in": "query",
              "name": "expand",
              "description": "List of all embedded resources that should be expanded in the response. Possible values are: property. All other values will be silently ignored.",
              "type": "array",
              "items": {
                "enum": [
                  "property"
                ],
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Return all the unit group data.",
              "schema": {
                "$ref": "#/definitions/UnitGroupModel"
              }
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "unitgroups.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "put": {
          "tags": [
            "UnitGroup"
          ],
          "summary": "Replace a unit group",
          "description": "Use this call to modify a unit group.<br>You must have at least one of these scopes: 'unitgroups.manage, setup.manage'.",
          "operationId": "InventoryUnit-groupsByIdPut",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the unit group.",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "The definition of the unit group.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ReplaceUnitGroupModel"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            },
            "204": {
              "description": "Replace of the unit group was successful."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "unitgroups.manage",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "delete": {
          "tags": [
            "UnitGroup"
          ],
          "summary": "Delete a unit group",
          "description": "Use this call to delete a unit group.<br>You must have at least one of these scopes: 'unitgroups.delete, setup.manage'.",
          "operationId": "InventoryUnit-groupsByIdDelete",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the unit group.",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "204": {
              "description": "Deletion of the unit group was successful."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            }
          },
          "security": [
            {
              "oauth2": [
                "unitgroups.delete",
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/settings/v1/age-categories/{id}": {
        "get": {
          "tags": [
            "AgeCategory"
          ],
          "summary": "Get an age category",
          "description": "Get an age category by id.<br>You must have at least one of these scopes: 'settings.read, setup.read, setup.manage'.",
          "operationId": "SettingsAge-categoriesByIdGet",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the age category.",
              "required": true,
              "type": "string"
            },
            {
              "in": "query",
              "name": "languages",
              "description": "'all' or comma separated list of two-letter language codes (ISO Alpha-2)",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Return all the age category data.",
              "schema": {
                "$ref": "#/definitions/AgeCategoryModel"
              }
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            }
          },
          "security": [
            {
              "oauth2": [
                "settings.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "patch": {
          "tags": [
            "AgeCategory"
          ],
          "summary": "Allows to modify properties of an age category",
          "description": "Here is the list of operations that are currently allowed:\r\n- Replace name, minimum age and maximum age<br /><br /><br>You must have at least one of these scopes: 'settings.manage, setup.manage'.",
          "operationId": "SettingsAge-categoriesByIdPatch",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the age category to be modified.",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Define the list of operations to be applied to the resource. Learn more about JSON Patch here: http://jsonpatch.com/.",
              "required": true,
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Operation"
                }
              }
            }
          ],
          "responses": {
            "204": {
              "description": "Success"
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            }
          },
          "security": [
            {
              "oauth2": [
                "settings.manage",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "delete": {
          "tags": [
            "AgeCategory"
          ],
          "summary": "Delete an age category",
          "description": "Use this call to delete an age category. You can only delete an age category if it is not already used in a rate\r\nplan to define age specific prices.<br /><br>You must have at least one of these scopes: 'settings.manage, setup.manage'.",
          "operationId": "SettingsAge-categoriesByIdDelete",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the age category.",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "204": {
              "description": "Deletion of the age category was successful."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            }
          },
          "security": [
            {
              "oauth2": [
                "settings.manage",
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/settings/v1/age-categories": {
        "post": {
          "tags": [
            "AgeCategory"
          ],
          "summary": "Create an age category",
          "description": "Use this call to create a new age category. The age ranges for categories must not overlap each other and the\r\nallowed values span from 0 to 17.<br /><br>You must have at least one of these scopes: 'settings.manage, setup.manage'.",
          "operationId": "SettingsAge-categoriesPost",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "header",
              "name": "Idempotency-Key",
              "description": "Unique key for safely retrying requests without accidentally performing the same operation twice. \nWe'll always send back the same response for requests made with the same key, \nand keys can't be reused with different request parameters. Keys expire after 24 hours.",
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "The definition of the age category.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreateAgeCategoryModel"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "Creation of the new age category was successful.",
              "schema": {
                "$ref": "#/definitions/AgeCategoryCreatedModel"
              },
              "headers": {
                "Location": {
                  "description": "The location of the created resource.",
                  "type": "string"
                }
              }
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            }
          },
          "security": [
            {
              "oauth2": [
                "settings.manage",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "get": {
          "tags": [
            "AgeCategory"
          ],
          "summary": "Get an age category list",
          "description": "Get the list of age categories.<br /><br>You must have at least one of these scopes: 'settings.read, setup.read, setup.manage'.",
          "operationId": "SettingsAge-categoriesGet",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "propertyId",
              "description": "Return age categories for the specific property",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "Return all age categories.",
              "schema": {
                "$ref": "#/definitions/AgeCategoryListModel"
              }
            },
            "204": {
              "description": "Could not find any age categories."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            }
          },
          "security": [
            {
              "oauth2": [
                "settings.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/rateplan/v1/cancellation-policies": {
        "post": {
          "tags": [
            "CancellationPolicy"
          ],
          "summary": "Create a cancellation policy.",
          "description": "Create a cancellation policy.<br>You must have at least one of these scopes: 'settings.manage, setup.manage'.",
          "operationId": "RateplanCancellation-policiesPost",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "header",
              "name": "Idempotency-Key",
              "description": "Unique key for safely retrying requests without accidentally performing the same operation twice. \nWe'll always send back the same response for requests made with the same key, \nand keys can't be reused with different request parameters. Keys expire after 24 hours.",
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "The definition of the cancellation policy.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreateCancellationPolicyModel"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "Cancellation policy successfully created.",
              "schema": {
                "$ref": "#/definitions/CancellationPolicyCreatedModel"
              },
              "headers": {
                "Location": {
                  "description": "The location of the created resource.",
                  "type": "string"
                }
              }
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            }
          },
          "security": [
            {
              "oauth2": [
                "settings.manage",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "get": {
          "tags": [
            "CancellationPolicy"
          ],
          "summary": "Get all cancellation policies.",
          "description": "Get the list of cancellation policies.<br>You must have at least one of these scopes: 'settings.read, setup.read, setup.manage'.",
          "operationId": "RateplanCancellation-policiesGet",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "query",
              "name": "propertyId",
              "description": "Filter cancellation policies by the specified property",
              "type": "string"
            },
            {
              "in": "query",
              "name": "pageNumber",
              "description": "Page number, starting from 1 and defaulting to 1. Results in 204 if there are no items on that page.",
              "type": "integer",
              "default": 1
            },
            {
              "in": "query",
              "name": "pageSize",
              "description": "Page size. If this is not set, the pageNumber will be ignored and all values returned.",
              "type": "integer",
              "default": 100
            }
          ],
          "responses": {
            "200": {
              "description": "Success.",
              "schema": {
                "$ref": "#/definitions/CancellationPolicyListModel"
              }
            },
            "204": {
              "description": "No cancellation policies could be found."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            }
          },
          "security": [
            {
              "oauth2": [
                "settings.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/rateplan/v1/cancellation-policies/{id}": {
        "get": {
          "tags": [
            "CancellationPolicy"
          ],
          "summary": "Get a specific cancellation policy.",
          "description": "Get a specific cancellation policy.<br>You must have at least one of these scopes: 'settings.read, setup.read, setup.manage'.",
          "operationId": "RateplanCancellation-policiesByIdGet",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the cancellation policy.",
              "required": true,
              "type": "string"
            },
            {
              "in": "query",
              "name": "languages",
              "description": "'all' or comma separated list of two-letter language codes (ISO Alpha-2)",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success.",
              "schema": {
                "$ref": "#/definitions/CancellationPolicyModel"
              }
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            }
          },
          "security": [
            {
              "oauth2": [
                "settings.read",
                "setup.read",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "patch": {
          "tags": [
            "CancellationPolicy"
          ],
          "summary": "Allows to modify properties of a cancellation policy",
          "description": "Here is the list of operations that are currently allowed:\r\n- Replace name and description\r\n- Replace the period from reference\r\n- Replace the reference\r\n- Replace the fee details: fixed and percent values<br>You must have at least one of these scopes: 'settings.manage, setup.manage'.",
          "operationId": "RateplanCancellation-policiesByIdPatch",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the cancellation policy to be modified.",
              "required": true,
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "Define the list of operations to be applied to the resource. Learn more about JSON Patch here: http://jsonpatch.com/.",
              "required": true,
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Operation"
                }
              }
            }
          ],
          "responses": {
            "204": {
              "description": "Success"
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            }
          },
          "security": [
            {
              "oauth2": [
                "settings.manage",
                "setup.manage",
                "admin"
              ]
            }
          ]
        },
        "delete": {
          "tags": [
            "CancellationPolicy"
          ],
          "summary": "Delete a cancellation policy",
          "description": "Use this call to delete a cancellation policy.<br>You must have this scope: 'setup.manage'.",
          "operationId": "RateplanCancellation-policiesByIdDelete",
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "description": "The id of the cancellation policy.",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "204": {
              "description": "Deletion of the cancellation policy was successful."
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            }
          },
          "security": [
            {
              "oauth2": [
                "setup.manage",
                "admin"
              ]
            }
          ]
        }
      },
      "/rateplan/v1/companies": {
        "post": {
          "tags": [
            "Company"
          ],
          "summary": "Create a company",
          "description": "Use this call to create a new company.<br>You must have at least one of these scopes: 'companies.create, companies.manage'.",
          "operationId": "RateplanCompaniesPost",
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "in": "header",
              "name": "Idempotency-Key",
              "description": "Unique key for safely retrying requests without accidentally performing the same operation twice. \nWe'll always send back the same response for requests made with the same key, \nand keys can't be reused with different request parameters. Keys expire after 24 hours.",
              "type": "string"
            },
            {
              "in": "body",
              "name": "body",
              "description": "The definition of the company.",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CreateCompanyModel"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "Success.",
              "schema": {
                "$ref": "#/definitions/CompanyCreatedModel"
              },
              "headers": {
                "Location": {
                  "description": "The location of the created resource.",
                  "type": "string"
                }
              }
            },
            "404": {
              "description": "The Request-URI could not be found."
            },
            "415": {
              "description": "Unsupported media type."
            },
            "400": {
              "description": "Bad request."
            },
            "401": {
              "description": "You are unauthorized."
            },
            "403": {
              "description": "Forbidden."
            },
            "500": {
              "description": "An unexpected error occurred."
            },
            "503": {
              "description": "The server is currently unavailable. Please try later."
            },
            "422": {
              "description": "Validation errors in the request body or query params.",
              "schema": {
                "$ref": "#/definitions/MessageItemCollection"
              }
            }
          },
          "security": [
            {
              "oauth2": [
                "companies.create",
[...]
